{% extends "layout.html" %}

{% block content %}

<h1>Меню ресторану</h1>



<div class="cards d-flex flex-wrap">
    {% for dish in dishes %}
        <div class="card" style="width: 400px; height: 500px;">
            <div class="img-wrapper" style="width: 400px;  overflow: hidden;">
            <img src="/static/images/{{ dish.image }}" class="card-img" style="width: 100%;"></div>
            <div class="card-body">
                <h2>{{ dish.title }}</h2>
                <p>{{ dish.description }}</p>
                <p><b>Ціна:</b> {{ dish.price }} грн</p>
                <p>{{ dish.image }}</p>
                <p><i>Категорія: {{ dish.category }}</i></p>
            </div>
        </div>

        
    {% endfor %}
</div>

{% endblock %}

